*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}



.grid{
    display:grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-areas: 
    'SEDANS'
    'SUVS'
    'LUXURY';
}

.content{
    grid-area: SEDANS;
    background-color:hsl(31, 77%, 52%);
    padding:30px;
}
.content-2{
    grid-area:SUVS;
    background-color:hsl(184, 100%, 22%);
    padding:30px;
}
.content-3{
    grid-area:LUXURY;
    background-color:hsl(179, 100%, 13%);
    padding:30px;
}
